services:
postgres:
image: postgres:16
restart: always
environment:
- POSTGRES_USER=${POSTGRES_USER}
- POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
- POSTGRES_DB=${POSTGRES_DB}
volumes:
- ./pg_data:/var/lib/postgresql/data

redis:
image: redis:7
restart: always
volumes:
- ./redis_data:/data

n8n-main:
image: n8nio/n8n
restart: always
ports:
- "5678:5678"
environment:
- N8N_HOST=n8n.findops.com
- WEBHOOK_URL=https://n8n.findops.com:5678
- WEBHOOK_TUNNEL_URL=https://n8n.findops.com
- TZ=Asia/Bangkok
- GENERIC_TIMEZONE=Asia/Bangkok
- DB_TYPE=postgresdb
- DB_POSTGRESDB_HOST=postgres
- DB_POSTGRESDB_PORT=5432
- DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
- DB_POSTGRESDB_USER=${POSTGRES_USER}
- DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}
- N8N_ENCRYPTION_KEY=${N8N_ENCRYPTION_KEY}
- EXECUTIONS_MODE=queue
- QUEUE_BULL_REDIS_HOST=redis
volumes:
- ./n8n_data:/home/node/.n8n
depends_on:
- postgres
- redis

n8n-worker:
image: n8nio/n8n
restart: always
command: worker
environment:
- NODE_ENV=development
- TZ=Asia/Bangkok
- GENERIC_TIMEZONE=Asia/Bangkok
- DB_TYPE=postgresdb
- DB_POSTGRESDB_HOST=postgres
- DB_POSTGRESDB_PORT=5432
- DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
- DB_POSTGRESDB_USER=${POSTGRES_USER}
- DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}
- N8N_ENCRYPTION_KEY=${N8N_ENCRYPTION_KEY}
- EXECUTIONS_MODE=queue
- QUEUE_BULL_REDIS_HOST=redis
volumes:
- ./n8n_data:/home/node/.n8n
depends_on:
- postgres
- redis
